* {
    box-sizing: border-box;
}

@font-face {
    font-family: "MedievalSharp Regular";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

@font-face {
    font-family: "Gothic Regular";
    src: url("../fonts/Gothic_A1/GothicA1-Regular.ttf");
}

@font-face {
    font-family: "Gothic Bold";
    src: url("../fonts/Gothic_A1/GothicA1-Bold.ttf");
}

body {
    margin: 0;
    font-family: "Gothic Bold", "Gothic Regular", "MedievalSharp Regular";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
    overflow: visible;
}

.logo-bg3 {
    width: 10%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: "MedievalSharp Regular";
}

h2 {
    font-family: "MedievalSharp Regular";
}

.partytime {
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.herovideo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.herocontent {
    text-align: center;
}

.awardsandraces {
    background-image: url("../img/img/smoke-bg.jpg");
    background-attachment: fixed;
    height: 200vh;
}

.awards, .races, .racespresentation {
    border: 1px solid #C7A480;
    margin: 5%;
}

.awards {
    background-image: url(../img/img/awards-bg.png);
    background-position: center;
    display: flex;
}

.races {
    display: flex;
}

.raceslogo {
    width: 5%;
}

.awardlogo {
    width: 10%;
}

.racesandpresentation {
    display: flex;
}